crossify==0.1.4
esridump==1.7.0
-e git://github.com/pygeobuf/pygeobuf.git@c9e055ab47532781626cfe2c931a8444820acf05#egg=geobuf
geopandas==0.3.0
osmread==0.2.dev0
rasterio==1.0a12
requests==2.18.4
scipy==1.0.1
sidewalkify==0.2.1
snakemake==4.8.0
